#secret-document {
  font-family: cursive;
  font-size: 1rem;
  width: 50vw;
  text-align: center;
  margin: auto;
  color: #5f5661;
}

body {
  background-color: #e1cba6;
}

.empty {
  user-select: none;
  color: #876969;
}

.appear {
  color: #876969;
  text-decoration: underline;
}

.overStay {
  user-select: none;
  color: #c24362;
  text-decoration: underline;
}
